  <h1>Listing orders</h1>
<% if false %>
<h5>Total pending:   <%=@orders.select{ |order| order.status["pending"]}.length %></h5>
<h5>Total canceled:  <%=@orders.select{ |order| order.status["canceled"]}.length %></h5>
<h5>Total paid:      <%=@orders.select{ |order| order.status["paid"]}.length %></h5>
<h5>Total shipped:   <%=@orders.select{ |order| order.status["shipped"]}.length %></h5>
<h5>Total returned:  <%=@orders.select{ |order| order.status["returned"]}.length %></h5>
<% end %>

<%if false%>
<div id="filters">
  <%= link_to "All: #{Order.all.count}", orders_path %>
  <% @filters.each do |filter| %>
    <%= link_to "#{filter.status.capitalize}: #{@statuses[filter.status]}", orders_path(:filter => filter.status) %>
  <% end %>
</div>
<%end%>

<table>
    <tr class="top-row">
      <th>Order ID</th>
      <th>User ID</th>
      <th>Status
        <% if false %>
        <form action="orders">
          <fieldset>
         <p> <select name="filters" multiple="multiple" style="top: 0px;">
                <% @filters.each do |filter| %>
                    <option value="filter"><%=filter.status.capitalize%></option>
                <%end%>
             </select></p>
             <div class="submit">
                <input type="submit" value="Filter">
             </div>
           </fieldset>
        </form>
        <% end %>
      </th>
      <th>Submitted on</th>
      <th>Updated At</th>
      <th></th>
      <th>Options</th>
    </tr>

  <% @orders.each do |order| %>
    <tr class="content">
      <td><%= order.id %></td>
      <td><%= order.user_id %></td>
      <td><%= order.status %></td>
      <td><%= order.created_at.localtime.to_date.to_formatted_s(:long_ordinal) %></td>
      <td><%= order.updated_at.localtime.to_date.to_formatted_s(:long_ordinal) %></td>
      <td><%=link_to "Details", order_path(order.id)%></td>
      <td>
          <% if order.status == "pending" %>
            <%= link_to "Cancel Order", order_path(order, :order => {:status => "canceled" }), :method => :put %>
          <% elsif order.status ==  "shipped" %>
            <%= link_to "Mark As Returned", order_path(order, :order => {:status => "returned" }), :method => :put %>
          <% elsif order.status == "paid" %>
            <%= link_to "Mark As Shipped", order_path(order, :order => {:status => "shipped" }), :method => :put %>
          <% end %>
          <%= link_to 'Edit', edit_order_path(order) %>
          <%= link_to 'Destroy', order_path(order), :method => :delete, :confirm => 'Are you sure?' %>
      </td>
    </tr>
  <% end %>
</table>




