<h1>Listing orders</h1>

<h5>Total pending:   <%= @orders.select{ |order| order.status == "pending"}.count %></h5>
<h5>Total canceled:  <%= @orders.select{ |order| order.status == "canceled"}.count %></h5>
<h5>Total paid:      <%= @orders.select{ |order| order.status == "paid"}.count %></h5>
<h5>Total shipped:   <%= @orders.select{ |order| order.status == "shipped"}.count %></h5>
<h5>Total returned:  <%= @orders.select{ |order| order.status == "returned"}.count %></h5>

<form action="<%=orders_path%>">
  <fieldset>
 <p> <select name="filters" id="filters">
        <% @statuses.each do |status| %>
            <option value="<%=status%>"><%=status.capitalize%></option>
        <%end%>
     </select></p>
     <div class="submit">
        <input type="submit" value="filter">
     </div>
   </fieldset>
</form>


<table>
    <tr class="top-row">
      <th>Order ID</th>
      <th>User ID</th>
      <th>Status</th>
      <th>Submitted on</th>
      <th>Updated At</th>
      <th>Options</th>
      <th></th>
    </tr>

  <% @orders.each do |order| %>
    <tr class="content">
      <td><%= order.id %></td>
      <td><%= order.user_id %></td>
      <td><%= order.status %></td>
      <td><%= order.created_at.localtime.to_date.to_formatted_s(:long_ordinal) %></td>
      <td><%= order.updated_at.localtime.to_date.to_formatted_s(:long_ordinal) %></td>
      <td>
          <% if order.status == "pending" %>
            <%= link_to "Cancel Order", order_path(order, :order => {:status => "canceled" }), :method => :put %>
          <% elsif order.status ==  "shipped" %>
            <%= link_to "Mark As Returned", order_path(order, :order => {:status => "returned" }), :method => :put %>
          <% elsif order.status == "paid" %>
            <%= link_to "Mark As Shipped", order_path(order, :order => {:status => "shipped" }), :method => :put %>
          <% end %>
          <%if order.status == "pending" || order.status == "paid" %>
            <%= link_to 'Edit', edit_order_path(order) %>
          <%end%>
      </td>
      <td><%=link_to "Details", order_path(order.id)%></td>
    </tr>
  <% end %>
</table>




