<h1>Cart</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Items</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.products.each do |product| %>
    <tr>
      <td><%= link_to "#{product.title}", product_path(product.id) %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %>
        <%= link_to "+", cart_path( increase: 1, product_id: product.id), method: "put", class:'button', id: "increase_count"  %>
          <%= link_to "-", cart_path( decrease: 1, product_id: product.id), method: "put", class:'button', id: "decrease_count"  %>
          <%= link_to "Remove", cart_path(product_id: product.id),
              method: :put, class: "btn btn-danger",
              confirm: "Are you sure?"
          %>
      </td>
    </tr>
    <% end %>
    <!-- Total row -->
    <% total_price = 0 %>
    <% total_quantity = 0 %>
    <% @cart.products.each do |product| %>
      <% total_price += product.price %>
      <% total_quantity += product.quantity %>
      <% end %>
    <tr>
      <td></td>
      <td><b><%= total_price %></b></td>
      <td><b><%= total_quantity %></b></td>
    </tr>
  </tbody>
</table>
  <!-- End of total row -->



<%= link_to "Trash Cart", cart_path, method: :delete, confirm: "Are you sure?" %>

