<div class="span12">
<h1>Cart</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Items</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.each do |product, quantity| %>
    <tr>
      <td><%= link_to "#{product.title}", product_path(product.id) %></td>
      <td><%= number_to_currency(product.price / 100.0) %></td>
      <td><%= quantity %>
        <%= link_to "+", cart_path( increase: 1, product_id: product.id), method: "put", class:'button', id: "increase_count"  %>
          <%= link_to "-", cart_path( decrease: 1, product_id: product.id), method: "put", class:'button', id: "decrease_count"  %>
          <%= link_to "Remove", cart_path(product_id: product.id),
              method: :put, class: "btn btn-danger",
              confirm: "Are you sure?"
          %>
      </td>
    </tr>
    <% end %>
    <!-- Total row -->
    <% total_price = 0 %>
    <% total_quantity = 0 %>
    <% @cart.each do |product, quantity| %>
      <% total_price += ((product.price / 100) * quantity) %>
      <% total_quantity += quantity %>
      <% end %>
    <tr>
      <td></td>
      <td><b><%= number_to_currency(total_price) %></b></td>
      <td><b><%= total_quantity %></b></td>
    </tr>
  </tbody>
</table>
  <!-- End of total row -->
</div>

<div class="span3">
<p>
<%= link_to "Proceed to checkout", review_order_path %>
</p>
<%= link_to "Trash Cart", cart_path, method: :delete, confirm: "Are you sure?" %>
</div>
