<h1>Cart</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Items</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
    </tr>
    <% end %>

    <% total_price = 0 %>
    <% total_quantity = 0 %>
    <% @cart.products.each do |product| %>
      <% total_price += product.price %>
      <% total_quantity += product.quantity %>
      <% end %>
    <tr>
      <td></td>
      <td><b><%= total_price %></b></td>
      <td><b><%= total_quantity %></b></td>
    </tr>
  </tbody>
</table>



<%= link_to "Trash Cart", cart_path, method: :delete, confirm: "Are you sure?" %>

