<h1> <%= @category.name %> </h1>

<% @category.products.uniq.each do |product| %>
  <div class="span4">
    <h2><%= product.title %></h2>
    <p><%= product.description %></p>
    <p><%= product.price %><p>
    <p><%= link_to "View details »", product_path(product), class: "btn" %></p>
  </div>
<% end %>
