

<html>
<body>


<% if current_user && current_user.admin %>
<h1>Product Management</h1><br/>

<p class="admin_home"><%= link_to "Admin Home", admin_path %></p>

<table>
    <tr class="top-row">
      <th>Product Name</th>
      <th>Description</th>
      <th class="money">Price</th>
      <th>Categories</th>
      <th>Options</th>
    </tr>
<% @products.each_with_index do |product, index| %>
    <tr class="content">
      <td class="name"><%= product.title %></td>
      <td><%= product.description %></td>
      <td class="money"><%= number_to_currency(product.price, :unit => "$") %></td>
      <td><% product.categories.uniq.each do |category| %>
        <%=category.name %>
        <%end%></td>
      <td class="link"><%= link_to 'Edit', edit_product_path(product), :class => "button" %></td>
      <td><% if product.retired == true %>
        (retired)
        <%end%></td>
    </tr>

  <%end%>
</table>

<%else%>
  <p class="flash"><%= flash.notice %></p>

    <div class="container-fluid">
    <div class="row-fluid">
      <%= render :partial => '../views/categories', :locals => {:categories => @categories} %>

      <div class="span9">
        <div class="hero-unit">
          <h1>Stolen Goods!</h1>
          <p>We steal shit.  Straight up.  That means our costs are just about non-existant, and we pass those savings on to you, our customer.  Be carefull though, if we see you on the street with anything you bought here, we're likely to rob the shit out of you!!</p>
          <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
        </div>

        <div class="row-fluid">
          <% @products.each do |product| %>
             <div class="span4">
              <h2><%= product.title %></h2>
              <p><%= product.description %></p>
              <p><%= product.price %><p>
              <p> <%= link_to "View details »", product_path(product), class: "btn" %></p>
             </div>
          <% end %>
        </div>
    </div>
<%end%>
</body>
</html>




<%if false%>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render :partial => '../views/categories', :locals => {:categories => @categories} %>

    <div class="span9">
      <div class="hero-unit">
        <h1>Team Solo Tech</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p> -->
      </div>
      <%-#= render '../views/carousel' %>

      <div class="row-fluid">
        <ul class="thumbnails">
          <% @products.each do |product| %>
            <li class="span4" >
              <div class="thumbnail">
                <%= image_tag(product.photo, size: "300x200")%>
                <div class="caption">
                  <h3><%= product.title %></h3>
                  <p><%= number_to_currency(product.price / 100) %></p>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p> <%= link_to "View details »", product_path(product), class: "btn btn-primary" %></p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div><!--/.fluid-container-->


<%end%>

