<% if current_user && current_user.admin %>

<% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %><hr/></td>
    </tr>
  <%end%>

<%else%>

    <div class="container-fluid">
    <div class="row-fluid">
      <%= render :partial => '../views/categories', :locals => {:categories => @categories} %>

      <div class="span9">
        <div class="hero-unit">
          <h1>Stolen Goods!</h1>
          <p>We steal shit.  Straight up.  That means our costs are just about non-existant, and we pass those savings on to you, our customer.  Be carefull though, if we see you on the street with anything you bought here, we're likely to rob the shit out of you!!</p>
          <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
        </div>

        <div class="row-fluid">
          <% @products.each do |product| %>
             <div class="span4">
              <h2><%= product.title %></h2>
              <p><%= product.description %></p>
              <p><%= product.price %><p>
              <p> <%= link_to "View details »", product_path(product), class: "btn" %></p>
             </div>
          <% end %>
        </div>
    </div>
<%end%>


