<div class="span8" >
  <h1><%= @product.title %></h1>

  <p>
    <%= @product.description %>
  </p>
  <p>
    <%= @product.price %>
  </p>

  <%= link_to "Add to cart", cart_path(product_id: @product.id), method: :put %>
</div>

<div class="myspan4" >
  <% if @cart %>
  <div id="shopping_cart">
    <h3> Shopping Cart</h3></br>
      <ul class="unstyled">
      <% @cart.products.each do |product| %>
        <li>
          <%= product.title %></br>Quantity:<%= product.quantity %>
          <%= link_to "+", cart_path( increase: 1, product_id: product.id), method: "put", class:'button', id: "increase_count"  %>
          <%= link_to "-", cart_path( decrease: 1, product_id: product.id), method: "put", class:'button', id: "decrease_count"  %>
          <%= link_to "Delete", cart_path(remove: 1, product_id: product.id),
              method: :put, class: "btn btn-danger",
              confirm: "Are you sure?"
          %>
        </li><br />
      <% end %>
      </ul>
      <%= link_to( "Checkout", cart_path ) %>
  </div>
  <% end %>
</div>