<% if @product.photo %>
  <div class="span12 text-center">
    <%= image_tag(@product.photo, size: "700x800")%>
  </div>
<% end %>

<div class="span9" >

  <h1><%= @product.title %></h1>

  <p>
    <%= @product.description %>
  </p>
  <p>
    <%= number_to_currency(@product.price / 100) %>
  </p>
  <p>
    <% unless @product.categories[0] == nil %>
       <td><% @product.categories.uniq.each do |category| %>
        <%=category.name %>
        <%end%></td>
    <%end%>
  </p>
  <%if current_user && current_user.admin == true %>
    <p>
      Retired? <%= @product.retired %>
    </p>
  <%end%>

  <% unless current_user && current_user.admin == true %>
    <% if @product.retired == false %>
      <%= link_to "Add to cart", cart_path(increase: 1, product_id: @product.id), method: :put,
          class: "btn btn-primary"
      %>
    <% end %>
    <% else %>
      <%= link_to "Products Home", products_path %>
  <% end %>

  <% if @product.retired == true %>
    <h5>Sorry, but this product is no longer available.</h5>
  <% end %>
</div>



<div class="span3">
<%= render '../views/mini_cart' %>
</div>




